.statement-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
	z-index: 1;
  

}

.message-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
	border-radius: 12px;
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h3 {
    text-align: center;
  }
}

.error-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}