*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.container {
  max-width: 1200px;
  margin: 0 auto 80px;
  padding: 0 20px;
}

:root {
  --color-main: #F0F8FF;
  --color-text: #282828;
  --color-accent: #984de9;
  --color-red: #EE204D;
}