.auth-page-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;

	form {
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 20px;
		// margin-bottom: 20px;
	}
}

@media (max-width: 450px) {
	.auth-page-container {
		transform: scale(0.8) translate(0%, 0%);
		gap: 20px;
		position: static;
	}
}
